@charset "UTF-8";

body
{
	  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
button
{
	width: 160px;
	height: 25px;
}
main
{
	min-height: 80vh;
}
footer
{
	text-align: right;
}

.red
{
	color: red;
}
.blue
{
	color: blue;
}
.green
{
	color: green;
}